<%- include("./partials/header") %>

    <% if (currentUser) { %>
        <div class="new-message-wrapper">
  <a class="hover border new-message-link" href="/new-message">Post a new message</a>
</div>
        <% } %>
            <div class="messages-container">
                <% if (messages.length===0) { %>
                    <p>No messages</p>
                    <%} else { %>
                        <% messages.forEach(message=> { %>
                            <div class="message-box">
                                <% if (currentUser && currentUser.is_member) { %>
                                    <p> Author:
                                        <%= message.author %>
                                    </p>
                                    <p> Created at: <em>
                                            <%= message.created_at.toLocaleString() %>
                                        </em></p>

                                    <% } else { %>
                                        <p><em>Author: [Members only]</em></p>
                                        <% } %>
                                            <h3>
                                                <%= message.title %>
                                            </h3>
                                            <p>
                                                <%= message.body %>
                                            </p>

                            </div>
                            <% }) %>
                                <% } %>
            </div>
            <%- include("./partials/footer") %>